@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #152733;
    /* background-color: #7c80bd; */
    /* background: linear-gradient(to right, #e2e2e2, #c9d6ff); */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 200vh;
}

.container {
    background-color: #fff;
    border-radius: 30px;
    margin-top: 100px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}

.container p {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}

.container span {
    font-size: 12px;
}

.container a {
    color: #333;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
}

.container button {
    background-color: #2da0a8;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

.container button.hiddened {
    background-color: transparent;
    border-color: #fff;
}

.container form {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}

.container input {
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in {
    left: 0;
    width: 50%;
    z-index: 2;
}

.container.active .sign-in {
    transform: translateX(100%);
}

.sign-up {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.container.active .sign-up {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}

@keyframes move {
    0%, 49.99% {
        opacity: 0;
        z-index: 1;
    }
    50%, 100% {
        opacity: 1;
        z-index: 5;
    }
}

.social-icons {
    margin: 20px 0;
}

.social-icons a {
    border: 1px solid #ccc;
    border-radius: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    width: 40px;
    height: 40px;
}

.toggle-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 150px 0 0 100px;
    z-index: 1000;
}

.container.active .toggle-container {
    transform: translateX(-100%);
    border-radius: 0 150px 100px 0;
}

.toggle {
    background-color: #2da0a8;
    height: 100%;
    background: linear-gradient(to right, #5c6bc0, #2da0a8);
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.container.active .toggle {
    transform: translateX(50%);
}

.toggle-panel {
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.toggle-left {
    transform: translateX(-200%);
}

.container.active .toggle-left {
    transform: translateX(0);
}

.toggle-right {
    right: 0;
    transform: translateX(0);
}

.container.active .toggle-right {
    transform: translateX(200%);
}


/* activity */

.hidden {
    display: none;
  }


  .containerActivities {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 40px;
    padding-top: 100px;
  }
  .container2 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 90%;
    max-width: 1200px;
    gap: 20px;
    margin: auto;
    margin-top: 50px;
}

  .userProfil {
    border: 1px solid #588877;
    box-shadow: 0px 0px 5px 0.5px #588877;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 50%;
    height: 84vh;
    border-radius: 10px;
    text-align: left;
    align-items: center;
    transition: all 0.4s ease;
}

.userProfil h1 {
    color: #fff;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 20px;
}

.userProfil p {
    color: #fff;
    font-size: 17px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 30px;
}

.userProfil form {
    width: 100%;
    
}

.userProfil input[type=text]::placeholder, 
.userProfil input[type=password]::placeholder {
    color: #181818;
}


.userProfil input[type=text], 
.userProfil input[type=password] {
    width: 100%;
    padding: 9px 20px;
    text-align: left;
    border: 0;
    outline: 0;
    border-radius: 6px;
    background-color: #fff;
    font-size: 15px;
    font-weight: 300;
    color: #181818;
    transition: all 0.3s ease;
    margin-top: 16px;
}

.userProfil button[type=submit],
.userProfil button#logoutBtn {
    width: 100%;
    padding: 10px 20px;
    background-color: #6C757D;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    font-weight: 600;
    transition: background-color 0.3s ease;
    margin-top: 16px;
    cursor: pointer;
}

.userProfil button[type=submit]:hover, 
.userProfil button[type=submit]:focus, 
.userProfil button[type=submit]:active, 
.userProfil button#logoutBtn:hover, 
.userProfil button#logoutBtn:focus, 
.userProfil button#logoutBtn:active {
    background-color: #52585e;
    outline: none;
    box-shadow: none;
}



.activities {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 91.5%;
    height: 100vh;
}

.activityShelf {
    display: block;
    width: 100%;
    height: 80vh;
    border-radius: 8px;
    overflow: auto;
    border: 1px solid #588877;
    box-shadow: 0px 0px 5px 0.5px #588877;
}


.activities > h2 {
    color: #ebeff8;
    margin: auto;
    font-size: 30px;
    margin-top: 19px;
    margin-bottom: 20px;
}

.activityShelf > .activityList {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    padding: 10px 20px;
}


.activityShelf > .activityList > .activityItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 120px;
    padding: 16px;
    border: 1px solid #ebeff8 ;
    border-radius: 5px;
    margin: 10px 0;
}


.activityItem > .bio {
    display: flex;
    row-gap: 5px;
    flex-direction: column;
    width: 50%;
    overflow: hidden;
}

.activityItem > p {
    color: #ebeff8;
    font-weight: 600;
}


.bio h3 {
    white-space: nowrap;
    color: #ebeff8;
    font-weight: 700;
    margin-top: -4px;
}


.bio p {
    color: #ebeff8;
    font-weight: 600;
    margin-top: -5px;
}


.activityShelf > .activityList > .activityItem > .action {
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
    width: 12%;
}

.activityShelf > .activityList > .activityItem > .action > button {
    border: none;
    box-shadow: none;
    cursor: pointer;
    background-color: #152733;
}

.action > .edit, .action > .trash {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.action > .edit img, .action > .trash img {
    max-width: 100%;
    max-height: 100%;
}
  /* uji coba */

.updateActivitySection{
    width: 50%;
}
.updateActivitySection > .form-body2{
    display: block;
}
.form-body{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 50%;
}


.form-items {
    border: 1px solid #588877;
    box-shadow: 0px 0px 5px 0.5px #588877;
    padding: 40px;
    display: inline-block;
    width: 100%;
    border-radius: 10px;
    text-align: center;
}

.form-items h3 {
    color: #fff;
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 5px;
}

.form-items h3.form-title {
    margin-bottom: 30px;
}

.form-items p {
    color: #fff;
    text-align: center;
    font-size: 17px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 30px;
}

.form-items input[type=text]::placeholder, .form-items input[type=password]::placeholder, 
.form-items input[type=email]::placeholder, .form-items select,.form-items input[type=date]::placeholder, 
.form-items input[type=time]::placeholder{
    color: #181818;
}
.form-items input[type=text], .form-items input[type=password], .form-items input[type=email], 
.form-items select,.form-items input[type=date], .form-items input[type=time]{
    width: 100%;
    padding: 9px 20px;
    text-align: left;
    border: 0;
    outline: 0;
    border-radius: 6px;
    background-color: #fff;
    font-size: 15px;
    font-weight: 300;
    color: #181818;
    margin-top: 16px;
}


.btn-primary{
    background-color: #6C757D;
    color: #fff;
    width: 150px;
    padding: 9px 20px;
    border-radius: 6px;
    font-size: 15px;
    font-weight: 600;
    outline: none;
    border: 0px;
    box-shadow: none;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active{
    background-color: #495056;
    outline: none !important;
    border: none !important;
    box-shadow: none;
}

.form-items textarea {
    position: static !important;
    width: 100%;
    padding: 8px 20px;
    border-radius: 6px;
    text-align: center;
    background-color: #fff;
    border: 0;
    font-size: 15px;
    font-weight: 300;
    color: #181818;
    outline: none;
    resize: none;
    height: 120px;
    -webkit-transition: none;
    transition: none;
    margin-bottom: 14px;
}

.form-items textarea:hover, .form-items textarea:focus {
    border: 0;
    background-color: #fff;
    color: #181818;
}
.form-check-label {
    color: #fff;
}
.mv-up{
    margin-top: 20px !important;
    margin-bottom: 8px !important;
}

.searchSection {
    width: 91.5%;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 20px 5px;
    border: 1px solid #588877;
    box-shadow: 0px 0px 5px 0.5px #588877;
    border-radius: 25px;
    box-sizing: border-box;
    margin: auto;
}

.searchSection > form {
    width: 95%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.searchSection > form > input[type=text]::placeholder {
    outline: none;
    color: #ebeff8;
}

.searchSection > form > input[type=text] {
    width: 80%;
    height: 40px;
    padding-left: 15px;
    font-size: 20px;
    background-color: #152733;
    color: #ebeff8;
    border: none;
    border-radius: 20px 0 0 20px;
    box-sizing: border-box;
}

.searchSection > form > select {
    width: 8%;
    height: 40px;
    font-size: 20px;
    background-color: #152733;
    color: #ebeff8;
    border: none;
    border-radius: 0;
    box-sizing: border-box;
    margin-left: 5px;
}

.searchSection > form > input[type=text]:focus{
    outline: none;
    background-color: #152733;
}

.searchSection > form > button {
    background-color: transparent;
    display: block;
    width: 5%;
    height: 30px;
    border: none;
    cursor: pointer;
    color: #edf8eb;
    margin-left: 25px;
    margin-right: -20px;
    font-size: 20px;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    body {
        height: 300vh;
    }
    .containerActivities{
        padding-top: 200px;
    }

    .container2 {
        flex-direction: column;
    }

    .userProfil {
        width: 100%;
    }

    .form-body {
        width: 100%;
    }

    .searchSection > form > input[type=text] {
        width: 65%;
    }
    .searchSection > form > select {
        width: 20%;
    }
    .searchSection > form > button {
        margin-right: 10px;
    }

    .activityShelf > .activityList > .activityItem > .action {
        width: 23%;
        margin-right: 0;
    }
    .updateActivitySection{
        width: 80%;
    }
}

@media (max-width: 500px) {
    .containerActivities{
        padding: 20px;
        padding-top: 200px;
    }
    .searchSection > form > button {
        margin-right: 15px;
    }

    .activityShelf > .activityList > .activityItem > .action {
        width: 26%;
    }

    .updateActivitySection{
        width: 85%;
    }
}